/* Tablet Udah Bisa*/
@media all and (max-width: 1000px) {
  .facility {
    width: 33,33333333333333%;
    margin-bottom: 50px;
  }
  
  .top-wrapper h1 {
    font-size: 45px;
  }

  .top-wrapper p{
    font-size: 25px;
  }
  

/* Smartphone form inputnya belum rapi*/
@media all and (max-width: 670px) {
  .facility {
    width: 100%;
  }
  
  .top-wrapper {
    text-align: center;
  }
  
  .header-right {
    display: none;
  }
  
  .menu-icon{
    display: block;
  }
  
  .top-wrapper h1 {
    font-size: 24px;
    line-height: 36px;
  }
  
  .top-wrapper p {
    font-size: 14px;
    line-height: 20px;
}
  
  input[type=text], input[type=number] {
    width: 100%;
  }
  
